#header {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Encode Sans Condensed', sans-serif;
    z-index: 1;
}

.sub-header {
    height: 113px;
    width: 100%;
}

#header-top {
    height: 32px;
    line-height: 32px;
    background-color: var(--color-grey);
    color: var(--color-black);
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-weight: 200;
}

#header-bot {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 1rem;
    border-bottom: 1px solid #b7b7b7;
}

#header-bot .brik {
    height: 80px;
    line-height: 80px;
}

@media (max-width: 767px) {
    #header-bot .brik {
        height: 60px;
        line-height: 60px;
    }

    .sub-header {
        height: 93px;
    }

    #header-top {
        font-size: 0.675rem;
    }
}

#header-bot .down {
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
}

#header-bot .down .bran, #header-bot .down .cate {
    display: none;
}

#header-bot .down a {
    color: black;
    text-decoration: none;
    margin-bottom: 30px;
    font-weight: bold;
}

#social {
    flex: 0 0 10%;
    padding-left: 15px;
    padding-right: 15px;
}

#social > a {
    color: unset;
    text-decoration: none;
    margin-right: 20px;
}

#search {
    text-align: right;
    flex: 0 0 10%;
    padding-left: 15px;
    padding-right: 15px;
}

#header-nav {
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

#header-nav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    min-width: 550px;
    max-width: 100%;
}

#header-nav ul li {
    text-transform: uppercase;
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

#header-nav ul li img {
    vertical-align: baseline;
    transform: translateY(6px);
}

@media (max-width: 767px) {
    #social, #search {
        display: none;
    }

    #header-nav {
        flex: 1;
    }

    #header-nav ul {
        min-width: unset;
    }

    #header-nav ul li {
        font-size: 12px;
    }

    #header-nav ul li img {
        height: 30px;
        transform: translateY(5px);
    }

    #header-bot .down {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #header-bot .down a {
        font-size: 14px;
        margin-bottom: 15px;
    }
}
